@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Passions+Conflict&display=swap');

:root {
    --f1: 'Inter', sans-serif;
    --cb: #47578E;
    --ctxt: #FFFFFF;
    --cbt: #47578E;

  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    text-rendering: optimizeLegibility;
}



html {
}

body {
    background: radial-gradient(58.93% 55.74% at 48.64% 44.26%, #D7ECFF 0%, rgba(233, 255, 222, 0) 100%)

}

header {
    padding: 2%;
}

button {
    border:none;
    cursor: pointer;
}

h1 {

font-family: var(--f1);
font-weight: 800;
font-size: 25px;
line-height: 44px;
letter-spacing: -0.05em;
text-transform: uppercase;

color: var(--cb);

  

}


.nav {
    width: 100%;    
    max-width: 1256px;
    height: 60px;
    margin-inline: auto;
    background: rgb(215, 236, 255);
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    }

.nav img {
    width: 5%;
}

.section-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: cent;
    align-items: center;
}

.my-num {
    position: absolute;
    left: 304px;
    top: -133px;
}

.right-container {
    width: 50%;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
    margin-bottom: 60px;
}

.btn, .btn-clear {
    width: 140px;
    height: 35px;
    background: var(--cbt);
    border-radius: 50px;

    font-family: var(--f1);
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--ctxt);
}

/* INPUT*/

.input-container {
    margin-bottom: 40.6px;
}

input:focus{
    outline: none;
}

.yourNumber {
    width: 45px;
    border: none;
    border-bottom: 2px solid var(--cbt);
    background-color: transparent;
    text-align: center;
    font-family: var(--f1);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--cbt);

}


.root-container {
    width: 380px;
    height: 720px;
    background: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(500px);    
    border-radius: 10px;

}

.root   {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
}


.root div span {
    
}

.root div  {
   display: flex;
    width: auto;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}



span {
    height: 40px;
    width: 40px;
    
    border: 2px solid #2FEA63;
    border-radius: 100%;

    font-family: var(--f1);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cbt);
}

@media only screen and (max-width: 791px) {
   
    .section-content {
        flex-direction: column;
        align-items:  center;
    }

    .nav img {
        display: none;
    }

    .nav{
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1rem;
        line-height: 20px;
        text-align: center;
    }

    .my-num {
       display: none;
    }
    
    .btn, .btn-clear {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        height: 35px;
        background: var(--cbt);
    
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--ctxt);
    }

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
    
  }


  @media only screen and (max-width: 600px) {
   
  
    .btn-container {
        width: auto;
        flex-direction: column;
        align-items: baseline;
    }

    .btn, .btn-clear {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    
  }


  @media only screen and (max-width: 494px) {
   
    .yourNumber {
        width: 100%;
        max-width: 30px;
       
    }

    .root-container {
        margin-right: 5%;
        margin-left: 5% ;
    }
    
  }


  @media only screen and (max-width: 380px) {
   
  
   
    .root-container {
        backdrop-filter: unset;    
    
    }
    
    
  }